body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    
    background: url('img/1678969235_bogatyr-club-p-stroimateriali-fon-foni-vkontakte-25.jpg') no-repeat center center/cover;
    background-color:rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    padding: 80px 0;
    
}

.hero .container {
    max-width: 1200px;
    margin: 0 auto;
}

.about, .products, .contact-info, .testimonials {
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.about h2, .products h2, .contact h2 {
    margin-top: 0;
}

.products .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products article {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.products img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin: 10px 0 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact button {
    padding: 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}


